#mobile-div-principal{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}
#mobile-logo{
	position: absolute;
	width: 100px;
	top: 10px;
	left: 10px;
}
#mobile-voltar-assistir{
	margin-top: 80px;
	width: 86%;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	height: 220px;
	background-image: url("/imagens/mobile/continuar%20assistindo.jpg");
	background-position: top;
	background-size: 100% auto;
	cursor: pointer;
	-webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
}
#mobile-serie-temporada,#mobile-serie-episodio{
	color: white;
	margin-left: 10px;
	font-size: 20px;
	font-family: "Arial", sans-serif;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
#mobile-voltar-play{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 120px;
	height: 120px;
	z-index: 2;
	border-radius: 100%;
}
#mobile-voltar-escuro{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.25);
}
#mobile-voltar-botao{
	position: absolute;
	width: 100%;
	height: 100%;
	outline: none;
	z-index: 3;
}
#mobile-serie-tempep{
	position: absolute;
	z-index: 2;
	bottom: 5px;
}
#mobile-iframe{
	width: 100%;
	height: 100%;
	position: fixed;
	border-width: 0px;
	z-index: 10;
	left: 0px;
	top: 0px;
	bottom: 0px;
}
#mobile-div-temporadas{
	width: 86%;
	position: absolute;
	margin-top: 350px;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 20px;
}
#mobile-div-temporada-1,#mobile-div-temporada-2,#mobile-div-temporada-3,#mobile-div-temporada-4,#mobile-div-temporada-5,#mobile-div-temporada-6,#mobile-div-temporada-7,#mobile-div-temporada-8,#mobile-div-temporada-9{
	position: relative;
	width: 404.5px;
	height: 269px;
	float: left;
	margin: 1%;
	background-position: center;
	background-size: auto 100%;
	border-radius: 10px;
	-webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
}
#mobile-div-temporada-1{background-image: url("https://storage.googleapis.com/playex_imagens/oficial/How%20I%20Met%20Your%20Mother/himym1.jpg");}
#mobile-div-temporada-2{background-image: url("https://storage.googleapis.com/playex_imagens/oficial/How%20I%20Met%20Your%20Mother/himym2.jpg");}
#mobile-div-temporada-3{background-image: url("https://storage.googleapis.com/playex_imagens/oficial/How%20I%20Met%20Your%20Mother/himym3.jpg");}
#mobile-div-temporada-4{background-image: url("https://storage.googleapis.com/playex_imagens/oficial/How%20I%20Met%20Your%20Mother/himym4.jpg");}
#mobile-div-temporada-5{background-image: url("https://storage.googleapis.com/playex_imagens/oficial/How%20I%20Met%20Your%20Mother/himym5.jpg");}
#mobile-div-temporada-6{background-image: url("https://storage.googleapis.com/playex_imagens/oficial/How%20I%20Met%20Your%20Mother/himym6.jpg");}
#mobile-div-temporada-7{background-image: url("https://storage.googleapis.com/playex_imagens/oficial/How%20I%20Met%20Your%20Mother/himym7.jpg");}
#mobile-div-temporada-8{background-image: url("https://storage.googleapis.com/playex_imagens/oficial/How%20I%20Met%20Your%20Mother/himym8.png");}
#mobile-div-temporada-9{
	background-image: url("https://storage.googleapis.com/playex_imagens/oficial/How%20I%20Met%20Your%20Mother/himym9.jpg");
	width: 98%;
	margin: 0px;
	margin-top: 1%;
	background-position: 6px;
	height: 290px;
	background-size: 100% auto;
}

#mobile-div-temporada-1-botao,#mobile-div-temporada-2-botao,#mobile-div-temporada-3-botao,#mobile-div-temporada-4-botao,#mobile-div-temporada-5-botao,#mobile-div-temporada-6-botao,#mobile-div-temporada-7-botao,#mobile-div-temporada-8-botao,#mobile-div-temporada-9-botao{
	position: absolute;
	width: 100%;
	height: 100%;
	outline: none;
	z-index: 3;
	border-radius: 10px;
}
#mobile-div-temporada-escuro{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.30);
	border-radius: 10px;
}
#mobile-serie-temporada-cada{
	color: white;
	margin-left: 10px;
	font-size: 22px;
	font-family: "Arial", sans-serif;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
#mobile-iframe-fechar{
	font-family: "Arial", sans-serif;
	border-width: 0px;
	background-color: white;
	font-size: 55px;
	width: 110px;
	padding-left: 2px;
	height: 80px;
	position: absolute;
	top: 0px;
	left: 0px;
	outline: none;
	color: rgb(87, 104, 222);
	z-index: 11;
	border-radius: 0px 0px 50px 0px;
}