body{
	background-color: #d5d2d2;
}
#cima-div{
	left: 0px;
	top: 0px;
	margin: 0px;
	position: fixed;
	width: 100%;
	height: 48px;
	background-color: white;
	box-shadow: 0px 0px 7px rgba(0,0,0,0.4);
	z-index: 100;
}
#logo{
	position: relative;
	margin: 6px 15px;
	cursor: pointer;
}
#box-s{
	width: 95%;
	left: 50%;
	position: absolute;
	margin-top: 50px;
	transform: translateX(-50%);
}
#usuario-iframe-mudarsenha{
	width: 100%;
	margin: -12px;
	height: 170px;
	display: none;
}
#usuario-info{
	float: left;
	position: relative;
	width: 400px;
	height: auto;
	box-shadow: 2px 2px 7px rgba(0,0,0,0.2);
	background-color: white;
	margin: 15px;
	-webkit-transition: height 0.8s ease;
    transition: height 0.8s ease;
}
#usuario-info-nome{
	font-size: 18px;
	font-family: "Roboto", sans-serif;
	width: 260px;
	color: rgba(0,0,0,0.82);
	position: relative;
	float: left;
	margin: 10px 25px;
	border-style: solid;
	border-width: 0px 0px 1px 0px;	
	text-align: center;
	height: 22px;
}
#usuario-acao-nome{
	font-size: 18px;
	font-family: "Roboto", sans-serif;
	width: 260px;
	color: rgba(0,0,0,0.82);
	position: relative;
	float: left;
	padding-bottom: 4px;
	margin-top: 3px;
	margin: 11px 25px;
	border-style: solid;
	border-width: 0px 0px 1px 0px;	
	text-align: center;
	height: 22px;
	outline: none;
	display: none;
}
#usuario-info-foto{
	position: relative;
	float: left;
	height: 90px;
	width: 90px;
	top: 17px;
	left: 15px;
	cursor: pointer;
	border-radius: 100%;
}
#usuario-info-registro, #usuario-info-email{
	font-size: 12px;
	font-family: "Arial", sans-serif;
	margin-left: 30px;
	margin-top: 10px;
}
#usuario-acao-mudarsenha{
	font-size: 12px;
	font-family: "Arial", sans-serif;
	width: 260px;
	cursor: pointer;
	color: blue;
	text-decoration: underline;
	margin-left: 30px;
	margin-top: 10px;
}
#usuario-upload{
	font-size: 18px;
	font-family: "Arial", sans-serif;
	width: 113px;
	color: white;
	position: relative;
	float: right;
	cursor: pointer;
	height: 30px;
	margin-right: 15px;
	background-color: #006DF0;
	border-width: 0px;
	border-radius: 3px;
	top: 50%;
	transform: translatey(-50%);
	text-align: center;
	outline: none;
}
#usuario-imagem-deupload{
	margin-right: 5px;
	margin-bottom: -1px;
}
#usuario-upload-box{
	position: fixed;
	width: 90%;
	height: 80%;
	left: 50%;
	top: 50%;
	box-shadow: 0px 0px 50px rgba(0,0,0,0.3);
	background-color: white;
	transform: translate(-50%, -50%);
	-webkit-transition: height 0.8s ease;
    transition: height 0.8s ease;
	display: none;
}
#usuario-upload-iframe{
	position: absolute;
	width: 100%;
	height: 100%;
	border-width: 0px;
	left: 0px;
	top: 0px;
}
#aviso{
	width: 100%;
	height: 25px;
	background-color: rgba(253, 44, 44, 0.83);
	left: 0px;
	text-align: center;
	bottom: -26px;
	position: fixed;
	font-size: 14px;
	font-family: "Arial", sans-serif;
	color: white;
	padding-top: 7px;
	-webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
/*
Traço
*/
#usuario-traco-nome{
	width: 0px;
	height: 2px;
	background-color: #006DF0;
	-webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
	position: relative;
	margin-left: 245px;
	margin-top: 32px;
	margin-bottom: -25px;
}
